
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © 2020 Deep Siroya.</p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    // Media Query Top Navbar
    $("#topNavbar").click(function() {
      if ($("#topNavbar").hasClass("container")) {
        $("#topNavbar").toggleClass("responsive");
      }
    });
  });
</script>
</body>
</html>
