<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">

    <div class="container" id="topNavbar">

      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
        <a class="hamburger-icon" href="#"><img src="/images/icon-hamburger.svg" alt=""></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <hr class="navbar-hr">
        <li id="home"><a class="navbar-link" href="/">HOME</a></li>
        <hr class="navbar-hr">
        <li id="about"><a class="navbar-link" href="about">ABOUT US</a></li>
        <hr class="navbar-hr">
        <li id="compose"><a class="navbar-link" href="compose">ADD BLOG</a></li>
        <hr class="navbar-hr">
      </ul>

    </div>

  </nav>

<body>
  <div class="container">