<%- include("partials/header") -%>

<h1>About</h1>
<p>Daily journal is an expansion of the blog tutorial by App Brewery.</p>
<p>It's a multi-user blog service that allows you to compose and delete your posts freely and safely.</p>

<%- include("partials/footer") -%>
